.mainpage{
    display: flex;
    background: linear-gradient(90deg, #8E9EAB, #E6DADA);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.mainpage_text1,.mainpage_text2{
    font-size: 150%;
    color: #fff;
}
.mainpage_img img{
    width: 100%;
    height: 80vh;
    max-width: 500px;
    display: flex;
    justify-content: center;
}